.container {
  width: 100vw;
  height: 100vh;
}

* {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
/*  Background fallback in case of IE8 & down, or in case video doens't load, such as with slower connections  */
  background: #000;
  background-attachment: fixed;
  background-size: cover;
}

/* The only rule that matters */

.square-box{
    background: #000000;
    height: 100vw;
    width: 100vw;
}

#player, iframe, .square-box, .center-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#player, iframe{
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 100;
}

.hidden {
    transition: all 2s;
    visibility: hidden;
    opacity: 0;
}

.shown {
    transition: all 2s;
    visibility: visible;
    opacity: 1;
}

.loader {
    border: 16px solid #3498db; /* Light grey */
    border-top: 16px solid #f3f3f3; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}